<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component
          class="TRADES.design.Activator"
          id="TRADES.design"
          name="TRADES">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="dsm.TRADES.wizardCat"
           name="Trades">
     </category>
     <wizard
           category="dsm.TRADES.wizardCat"
           class="TRADES.design.wizards.TradesNewProjectNewWizard"
           descriptionImage="Images/logo_64.png"
           finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
           icon="Images/logo_16.png"
           id="TRADES.design.newProject"
           name="New TRADES project"
           preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
        <newWizardShortcut
              id="TRADES.design.newProject">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonWizard
           type="new"
           wizardId="TRADES.design.newProject">
        <enablement></enablement>
     </commonWizard>
  </extension>
  <extension point="org.eclipse.sirius.diagram.elk.layout.extension">
     <layoutExtension
           class="TRADES.design.layout.TradesAutoLayoutCusto">
     </layoutExtension>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <dynamic
              class="TRADES.design.menu.MenuFiller"
              id="TRADES.design.dynamic.manager">
           <visibleWhen
                 checkEnabled="false">
              <test
                    property="TRADES.design.tradesselection.semanticSelection">
              </test>
           </visibleWhen>
        </dynamic>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="TRADES.design.handlers.SemanticSelectionPropertyTester"
           id="TRADES.design.tradesselection"
           namespace="TRADES.design.tradesselection"
           properties="semanticSelection"
           type="java.lang.Object">
     </propertyTester>
  </extension>
</plugin>
