<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="TRADES" sequenceNumber="1603901951">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.emf" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.osgi.services" version="0.0.0"/>
      <unit id="org.eclipse.collections.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2020-06/"/>
    </location>
  </locations>
</target>
