<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.properties.core.descriptionConverter">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.markup.internal.ExtHTMLDescriptionConverter"
            description="%htmlRendererConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.markup.descriptionConverter"
            label="%htmlRendererConverter.Label"></descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.markup.internal.ExtMarkdownDescriptionConverter"
            description="%markdownConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.markdown.descriptionConverter"
            label="%markdownConverter.Label">
      </descriptor>
   </extension>
   <extension
         point="org.eclipse.sirius.properties.core.descriptionPreprocessor">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.markup.internal.ExtHTMLRendererDescriptionPreprocessor"
            id="org.eclipse.sirius.ui.properties.ext.widgets.markup.descriptionPreProcessor"
            label="%htmlRendererPreProcessor.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.markup.internal.ExtMarkdownDescriptionPreprocessor"
            id="org.eclipse.sirius.ui.properties.ext.widgets.markodwn.descriptionPreProcessor"
            label="%markdownPreProcessor.Label">
      </descriptor>
   </extension>

</plugin>
