<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="initCapec"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="dsm.trades.debug.InitCapec">
         </run>
      </application>
   </extension>
   <extension
         id="initMitre"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="dsm.trades.debug.InitMitre">
         </run>
      </application>
   </extension>

</plugin>
