<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated extTRADES -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated extTRADES -->
      <editor
            id="extTRADES.presentation.ExtTRADESEditorID"
            name="%_UI_ExtTRADESEditor_label"
            icon="icons/full/obj16/ExtTRADESModelFile.gif"
            extensions="exttrades"
            class="extTRADES.presentation.ExtTRADESEditor"
            contributorClass="extTRADES.presentation.ExtTRADESActionBarContributor">
      </editor>
   </extension>

</plugin>
