<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="dsm.oscal.design.Activator"
               id="dsm.oscal.design"
	       name="oscal">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
           class="dsm.oscal.design.actions.OscalActionProvider"
           id="dsm.oscal.design.actions.OscalActionProvider"
           priority="normal">
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.sirius.ui.tools.api.views.common.item.CommonSessionItem">
              </instanceof>
              <instanceof
                    value="org.eclipse.emf.ecore.EObject">
              </instanceof>
              <instanceof
                    value="org.eclipse.emf.ecore.resource.Resource">
              </instanceof>
              <adapt
                    type="org.eclipse.core.resources.IProject">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.sirius.nature.modelingproject">
                 </test>
              </adapt>
              <and>
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.sirius.ui.isFileForSessionTester">
                 </test>
              </and>
              <and>
                 <not>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                       <test
                             property="org.eclipse.core.resources.projectNature"
                             value="org.eclipse.sirius.nature.modelingproject">
                       </test>
                    </adapt>
                 </not>
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.sirius.ui.isSemanticResourceFileTester">
                 </test>
              </and>
           </or>
        </enablement>
     </actionProvider>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerActionBinding
           viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <actionExtension
                 pattern="dsm.oscal.design.actions.OscalActionProvider">
           </actionExtension>
        </includes>
     </viewerActionBinding>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="dsm.TRADES.rcp.import"
           class="dsm.oscal.design.wizards.ImportEmbeddedCatalogWizard"
           icon="icons/library_obj.png"
           id="dsm.oscal.design.importoscalcatalog"
           name="Import OSCAL Catalog">
        <selection
              class="org.eclipse.core.resources.IProject">
        </selection>
        <description>
           Import an embeded OSCAL library
        </description>
     </wizard>
  </extension>
</plugin>
