<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PropertiesMarkupWidgets -->
      <package
            uri="http://www.eclipse.org/sirius/properties/1.0.0/ext/widgets/markupWidgets"
            class="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.PropertiesMarkupWidgetsPackage"
            genModel="model/PropertiesMarkupWidgets.genmodel"/>
   </extension>

</plugin>
