<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              icon="icons/m2doc.gif"
              id="dsm.TRADES.m2doc.report.menu"
              label="Reports">
           <dynamic
                 class="dsm.trades.m2doc.menu.ReportMenu"
                 id="dsm.TRADES.m2doc.report.dyn.menu">
           </dynamic>
          <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.emf.ecore.EObject">
                 </adapt>
              </iterate>
           </visibleWhen>
        </menu>
     </menuContribution>
  </extension>
</plugin>
