<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor">
         <propertySection
               afterSection="properties.section.widgetDescription.IsEnabledExpression"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionValueExpressionPropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionValueExpressionFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.valueExpression"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtHTMLRendererDescription">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.valueExpression"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionToHTMLExpressionPropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionToHTMLExpressionFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.ToHTMLExpression"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtHTMLRendererDescription">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.ToHTMLExpression"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionEditionToolExpressionPropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionEditionToolExpressionFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.EditionToolExpression"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtHTMLRendererDescription">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.EditionToolExpression"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionNumberOfLinePropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionNumberOfLineFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.NumberOfLine"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtHTMLRendererDescription">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.NumberOfLine"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionCSSExpressionPropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.html.ExtHTMLRendererDescriptionCSSExpressionFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.htmlrenderer.CSSExpression"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtHTMLRendererDescription">
            </input>
         </propertySection>
         <propertySection
               afterSection="properties.section.widgetDescription.IsEnabledExpression"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.mardown.ExtMarkdownDescriptionValueExpressionPropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.mardown.ExtMarkdownDescriptionValueExpressionFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.markdown.valueExpression"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtMarkdownDescription">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.sirius.editor.properties.ext.widgets.markdown.toHtml"
               class="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.mardown.ExtMarkdownDescriptionNumberOfLinePropertySection"
               filter="org.eclipse.sirius.editor.properties.ext.widgets.markup.internal.mardown.ExtMarkdownDescriptionNumberOfLineFilter"
               id="org.eclipse.sirius.editor.properties.ext.widgets.markdown.numberOfLine"
               tab="viewpoint.tab.general">
            <input
                  type="org.eclipse.sirius.properties.ext.widgets.markup.PropertiesMarkupWidgets.ExtMarkdownDescription">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
