<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MarkupWidgets -->
      <package
            uri="http://www.eclipse.org/eef/ext/widgets/eef-markup-widgets"
            class="org.eclipse.eef.ext.widgets.markup.MarkupWidgets.MarkupWidgetsPackage"
            genModel="model/MarkupWidgets.genmodel"/>
   </extension>

</plugin>
