<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="metaschemaToEcore"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="dsm.oscal.ext.MetaschemaToEcoreApplication">
         </run>
      </application>
   </extension>
   <extension
         id="DeleteMetaschemaAnnotApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="dsm.oscal.ext.DeleteMetaschemaAnnotApplication">
         </run>
      </application>
   </extension>

</plugin>
